h1{
    color:#364;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

table{
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

tr {

}
td{
    border: 1px solid black;
}

#btnone{
    color: royalblue;
    font-size: 20px;
    
}